@import "element-theme";

html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0;
}

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
  font-weight: normal;
}

html, body, fieldset, img, iframe, abbr {
  border: 0;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

[hidefocus], summary {
  outline: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
}

sup, sub {
  font-size: 83%;
}

pre, code, kbd, samp {
  font-family: inherit;
}

q:before, q:after {
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
}

label, summary {
  cursor: default;
}

a, button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, em, strong, b {
}

del, ins, u, s, a, a:hover {
  text-decoration: none;
}

body, textarea, input, button, select, keygen, legend {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-family: Hiragino Sans GB, PingFang SC, Microsoft YaHei, Arial, Helvetica Neue, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  color: #303133;
  outline: 0;
}

body {
  background: #fff;
}

html, body {
  height: 100%;
}

/* scroobar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* scroobar */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #999;
}

/* scroobar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: #eee;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

input::-webkit-input-placeholder {
  color: #bbbbbb;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #bbbbbb;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #bbbbbb;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bbbbbb;
}

button {
  border: none;
  cursor: pointer;
  vertical-align: top;
  border-radius: 2px;
  background-color: #fff;
}

button:hover {
  opacity: 0.6;
  filter: Alpha(opacity=60);
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button:active {
  opacity: 0.85;
  filter: Alpha(opacity=85);
}

button.disabled {
  opacity: 0.6;
  filter: Alpha(opacity=60);
  cursor: not-allowed;
}

a {
  color: $--color-primary;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  filter: Alpha(opacity=70);
  text-decoration: none;
}

a.link {
  color: #56A1F9 !important;
}

/* text overflow ...*/
.g-text-overflow {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  min-width: 0;
  overflow: hidden;
}

/* tree */
.g-tree {
  .item {
    height: 100%;
    width: 100%;
    vertical-align: middle;

    &.before {
      border-top: 1px solid #209212;
    }

    &.after {
      border-bottom: 1px solid #209212;
    }
  }

  .opt, .name {
    cursor: pointer;
  }

  i {
    vertical-align: top;
    margin-top: 13px;
    display: inline-block;
    font-size: 20px;
  }

  .el-tree-node__expand-icon {
    display: none;
  }

  .el-tree-node__content {
    cursor: inherit;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    vertical-align: middle;

    i {
      margin-left: 5px;
      font-size: 20px;
    }

    .el-dropdown {
      float: right;
      margin-right: 10px;
    }
  }
}

.g-tool-box {
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #eee;
}

.g-tool-btn {
  font-size: 14px;
  color: #333;

  i {
    margin-right: 5px;
  }
}
