$--color-primary: #209212;
$--color-text-primary: #303133 !default;
$--color-text-regular: #505256 !default;
$--color-text-secondary: #707276 !default;
$--color-text-placeholder: #b0b4bd !default;
$--border-color-base: #dcdfe6 !default;
$--border-color-light: #e4e7ed !default;
$--border-color-lighter: #ebeef5 !default;
$--border-color-extra-light: #f2f6fc !default;
$--background-color-base: #f8f8f8 !default;
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "node_modules/element-ui/packages/theme-chalk/src/index";
